body {
  background-repeat: repeat;
  text-align: center;
  font-family: 'Sinoty', sans-serif;
  color:black;
  background-color: rgb(120, 120, 151);
  margin-right: 200px;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  text-align: center;
  box-sizing: absolute;
  font-size: 25px;
}
main {
  background-color: rgb(120, 120, 151);
}
footer {
  position: absolute;
  background-color: rgb(120, 120, 151);
}
.form {
  position: relative;
  text-align: left;
}

#pikestore {
  padding-left: 200px;
  padding-top: 25px;
}
#cookie {
  position: absolute;
  display: block;
  float: right;
  margin-top: 35px;
  margin-left: 700px;
  height: 15%;
}
#fish {
  position: absolute;
  display: block;
  float: right;
  margin-top: 35px;
  margin-left: 500px;
  height: 15%;
}
#salmon {
  width: 45%;
  padding-left: 75px;
  margin-right: 30px;
  padding-top: 20px;
}
#chinook {
  position: absolute;
  padding-top: 15px;
  width: 43%;
  float: center;
}
#fishes {
  text-align: center;
}
#form-data {
  align-content: center;
  position: relative;
  background-repeat: no-repeat;
}
table {
  font-size: 20px;
  border: 2px solid black;
  border-collapse:  seperate;
  text-align: center;
  border-spacing: 2em 2em;
   margin-top: 5px;
}
td {
  border: 1px solid black;
  color: rgb(8, 77, 8);  
  padding-left: 5px;

  }
th {
  border: 1px solid black;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
fieldset {
  line-height: 25px;
}
h1 {
  font-size: 50px;
  color:rgb(253, 65, 65);
  text-shadow: 2px 2px 7px #111111;
  position: relative;
}