    /* font-family: calibri, serif; */
    body {
      padding-right: 50px;
      padding-left: 50px;
      font-family: 'Sinoty', sans-serif;
      background-image: url("../images/cutter.jpeg" );  
      color:rgb(253, 65, 65);
      background-color: rgb(120, 120, 151);
      margin-left: auto;
      margin-right: auto;
      display: block;
      
  }
  header {
      /* font-family: calibri, serif; */
      padding-top: 50px;
      font-size: 100px;
      text-align: center;
      box-sizing: absolute;
      height: 150px;

      text-shadow: 2px 2px 7px #111111;
      background-repeat: no-repeat;
      
  }
  nav {
      text-align: center;
      box-sizing: absolute;
      font-size: 25px
  }
  main {
      /* background-color: rgb(120, 120, 151); */
      padding-right: 20px;
      padding-left: 20px;
      margin-top: -5px;

  }
  h1 {
    font-size: 75px;
    text-align: center;
    box-sizing: relative;
    text-shadow: 2px 2px 7px #111111;
  }
  p {
    font-size: 40px;
    text-align: center;
    box-sizing: absolute;
  }
  .family {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 325px;
    display: block;
    height: 50%;
    width: 50%
  }