    /* font-family: calibri, serif; */
    body {
      background-image: url("../images/trees.png" );
      box-sizing: outline;
      padding-right: 50px;
      padding-left: 50px;
      line-height: 18px;
      font-family: 'Sinoty', sans-serif;
      color:rgb(253, 65, 65);
      
  }
  header {
      /* font-family: calibri, serif; */
      padding-top: 50px;
      font-size: 70px;
      text-align: center;
      box-sizing: outline;
      height: 150px;

      text-shadow: 2px 2px 7px #111111;
      background-repeat: no-repeat;
      
  }
  /* .skyline {
      box-sizing: outline;
      position: absolute;
      padding-right: 150px;
      margin-left: 225px;
      margin-bottom: 150px;
      padding-bottom: 150px;
  } */
  main {
      background-color: rgb(120, 120, 151);
      padding-right: 20px;
      padding-left: 20px;
      margin-top: -5px;
  }
  nav {
      font-size: 12px;
      /* vertical-align: middle;
      align-self:center;
      justify-self: center;
      grid-area: a; */
      /* display: inline-block; */
      width: auto;
      height: auto;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid white;
      /* border-left: 1px solid rgb(17, 35, 61);
      border-right: 1px solid rgb(17, 35, 61); */
      font-family: 'Sinoty', sans-serif;
      margin-top: 5px;
      padding: 5px;  
      box-sizing: outline;
      position: relative;
      text-align: auto;
      margin-left: 300px;
      margin-right: 300px;
      word-spacing: 1em;
  }
  h1 {
      color: rgb(1, 18, 27);
      padding: 5px;
      font-size: 40px;
      text-align: center;
      box-sizing: outline;
      text-shadow: 2px 2px 7px white;
      padding-top: 20px;
      padding-bottom: 20px;
      position: navigation;
  }
  
  h2 {
      text-decoration: underline;
      box-sizing: outline;
      padding: 10px;
      padding-top: 20px;
      text-shadow: 2px 2px 7px white;
      color: rgb(1, 18, 27);
  }
  .goals {
      position: relative;
  }
  .movies {
      float:left;
      box-sizing: outline;
      position: relative;
  }
  .headshot {
      width: 20%;
      /* box-sizing: outline;
      float: left;
      position: absolute;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 50px;
      box-sizing: outline; */
      float: none;
      box-sizing: none;
      margin-left: 75px;
      box-sizing: outline;
      position: aboslute;
      margin-top: -30px;
      padding-bottom: 30px;
     }
  .abouttitle {
      text-align: left;
      text-decoration: none;
      box-sizing: outline;
      font-size: 25px;
      
  }
  .aboutsection {
      text-align: center;
      box-sizing: outline;
  }
  .aboutsection:first-letter{
      font-size: 200%;
  }
  ul {
      border: 2px solid white;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 35px;
      border-right: auto;
      max-width: 400px;
      box-sizing: outline;
      /* list-style: square inside none; */
      list-style-image: url("../images/clearhammer.png");   
  }
  ol {
      list-style-type: decimal;
      padding-left: 35px;
  }
  li {
      padding-left: 5px;
  }
  #education {
      font-size: 20px;
  }
  #workexperience {
      font-size: 20px;
  }
  #goalstitle {
      font-size: 20px;
      padding-top: 20px;
  }
  #moviestitle {
      font-size: 20px;
      float:none;
      box-sizing: none;
      box-sizing: outline;
      position: relative;
      padding-top: 20px;
  }
  footer {
      background-color: rgb(120, 120, 151);
      margin-top: -10px;
      padding-bottom: 15px;
  }